@import "../../../../mixins.scss";

.maincontainerBox {
  color: white;
  background: #000;
  transform: translateX(-100%);
  @include md {
    transform: translate(0);
  }
}
.mobilemenuview {
  transform: translateX(0);
  transition: all 0.3s ease-in-out;

  z-index: 3;
  position: fixed;
  overflow-y: scroll;
  left: 0;
  height: 100%;
}
